<%- include("partials/header.ejs") %>
<div class="container">
  <aside class="sidebar"><%- include("sidebar.ejs") %></aside>
  <div class="postContainer"><%- include('content.ejs') %></div>
</div>
<%- include("partials/footer.ejs") %>
