<form class="postForm" action="" method="POST">
  <hr>
  <h4>Add Post</h4>
   <div class="title">
    <input  type="text" name="title" placeholder="Title" class="titleInput" />
  </div>
  <div class="text">
    <textarea  name="message" spellcheck="true" rows="4" cols="50" maxlength="1000" placeholder="What's on your mind?" class="textMessage"></textarea>
  </div>
  <input type="submit" value="publish" />
</form>
